# Syntax highlighting
Pygments

# Sphinx
setuptools
docutils
mock
pillow
alabaster
commonmark
recommonmark
sphinx==5.0.0
readthedocs-sphinx-ext
sphinx-book-theme
sphinx-sitemap
sphinx-external-toc
sphinx-thebe
sphinx-jsonschema
sphinx_multiversion
furo

# MyST
myst-parser
myst-nb
