# Syntax highlighting
Pygments==2.11.2

# Sphinx
setuptools
docutils
mock
pillow
alabaster
commonmark
recommonmark
sphinx
readthedocs-sphinx-ext
sphinx-book-theme
sphinx-sitemap
sphinx-external-toc
sphinx-thebe
sphinx-jsonschema
sphinx_multiversion
furo

# MyST
myst-parser==0.15.2
myst-nb==0.13.1
